.mainStory {
  background-color: #ededed;
  overflow: hidden;
  display: grid;
  grid-template-columns: 140px auto;

  word-break: normal;
  text-overflow: hidden;
  overflow: hidden;

  padding: 10px;

  height: 230px;
}

.title {
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
}

.img {
  float: left;
  width: 140px;
  height: 225px;
}

.mainText {
  word-wrap: break-word;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .post {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0px;
    height: 230px;
  }

  .mainStory {
    background-color: #ededed;
    overflow: hidden;
    display: grid;
    grid-template-columns: 230px auto;

    word-break: normal;
    text-overflow: hidden;
    overflow: hidden;

    padding: 10px;
  }

  .title {
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  .img {
    float: left;
    width: 228px;
    height: 230px;
    border: 2px solid black;
  }

  .mainText {
    word-wrap: break-word;
    padding: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .post {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    padding: 0px;
  }

  .mainStory {
    background-color: #ededed;
    overflow: hidden;
    display: grid;
    grid-template-columns: 230px auto;

    word-break: normal;
    text-overflow: hidden;
    overflow: hidden;

    padding: 10px;
  }

  .title {
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  .img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 96%;
    height: 96%;
    border: 2px solid black;
  }

  .mainText {
    word-wrap: break-word;
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

p {
  color: black;
}
