.regoo {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  height: 60px;
  display: grid;
  grid-template-columns: 35% 35% 20%;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  background-color: #ededed;
  grid-column-gap: 5%;
}

.registerInput {
  width: 100%;
  height: 100%;
}

.title {
  grid-row-start: 1;
  grid-row-end: 2;
}

.username {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}

.password {
  grid-row-start: 2;
  grid-row-end: 3;
}

.buttonContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  padding: 1px;
}

.button {
  height: 100%;
  width: 100%;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

@media only screen and (max-width: 500px) {
  .form {
    height: 100%;
    width: 100%;
  }
  .regoo {
    border: 2px solid black;
    height: 250px;
    margin: 20px;
    display: grid;
    grid-template-rows: 15% 15% 15% 15%;
    grid-template-columns: 100%;
    grid-row-gap: 13%;

    padding: 10px;
    background-color: #ededed;
  }

  .registerInput {
    padding: 1%;
    width: 96%;
    height: 100%;
  }

  .title {
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 30px;
  }

  .username {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .password {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .buttonContainer {
    grid-row-start: 4;
    grid-row-end: 5;
    height: 100%;
    padding: 1px;
  }

  .button {
    color: white;
  }
}
